button {
    width: 100px;
    height: 40px;
}

.box {
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
  

    &.color-green {
        color: green;
    }

    &.color-red{
        color: red;
    }
}

